/* uiversal rules for the html */
html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aqua;
}

/* setting a background image for the body */
body{
    background-image: url(../images/uw-pool-3.jpg);
    background-size: cover;
    background-position: 50% 25%;
}

/* styling the header bar */
.page-header{
    height: 70px;
    background-color: rgb(57, 59, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 4px 6px aqua;
} 

/* styling the header within the header bar */
h1{
    height: 50px;
    font-size: 45px;
    background-color: aqua;
    padding-left: 40px;
    padding-right: 5px;
    color: rgb(57, 59, 65);
    border-radius: 0px 5px 5px 0px;
    text-align: center;
}

/* styling the nav box that holds the nav buttons */
.header-nav{
    font-size: 20px;
    margin-right: 20px;
}

/* styling each button within the nav box */
.nav-btn{
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: aqua;
}

/* styling links when the mouse hovers over them */
a:hover{
    text-decoration: none;
    color: purple;
}

/* styling links when the mouse clicks them */
a:active{
    color:rgb(209, 181, 22);
}

/* styling the subtitle box */
.subtitle-box{
    height: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* styling the text within the subtitle box */
h2{
    height: 40px;
    font-size: 35px;
    background-color: rgb(57, 59, 65);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px 5px 5px 5px;
    margin-right: 40px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px 6px aqua;
}

/* styling the box holding the about me aside and paragraphs */
.about-me{
    display:flex;
    justify-content: space-between;
    height: auto;
}

/* styling each of the aside boxes on the left of the screen */
.about-me-aside, .work-projects-aside, .contact-me-aside{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: solid rgb(57, 59, 65) 5px;
    align-items: end;
}

/* styling the text within each aside box */
h3{
    text-decoration: underline;
    font-size: 60px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    padding: 4px;
    border-radius: 8%;
}

/* styling the box that holds the about me paragraphs */
.about-me-p{
    flex: 4;
    word-wrap: break-word;
}

/* styling the text within the about me paragraphs */
.p1{
    font-weight: bold;
    background-color: rgb(57, 59, 65, 1);
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 4px 6px aqua;
    word-wrap: break-word;
    padding: 10px;
}

/* styling the work project and contact me boxes */
.work-projects, .contact-me{
    display: flex;
    margin-top: 20px;
    height: auto;
}

/* styling the box holding each work history image */
.work-projects-images{
    display: flex;
    flex: 4;
    flex-wrap:wrap;
    gap: 20px;
    align-content: flex-start;
}

/* styling the box holding the code refactor image */
.code-refactor-link{
    display: flex;
    flex-grow: 4;
    text-decoration: none;
}

/* styling the code refactor image */
.code-refactor-img{
    height: 300px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 4px 6px aqua;
    display: flex;
    align-items: end;
    background-image: url(../images/code_refactor.jpg);
    background-position: center;
    background-size: cover;
}

/* styling the text ontop of each image in work history */
.code-refactor-img span, .diving-img span, .goggles-img span, .calculator-img span, .surfing-img span{
    background-color: rgb(57, 59, 65, 1);
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0px 0px 4px 6px aqua;
    color: aqua;
}

/* aligning each image below the hero */
.lower-imgs{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 5px;
}

/* inserting background images for each work history box */
.diving-img{
    background-image: url(../images/diving.jpg);
}

.goggles-img{
    background-image: url(../images/goggles.jpg);
}

.calculator-img{
    background-image: url(../images/calculator.jpg);
}

.surfing-img{
    background-image: url(../images/surfing.jpg);
}

/* creating hover effect for each backgorund image */
.code-refactor-img:hover{
    background-image: url(../images/code_refactor-bandw.jpg);
}

.diving-img:hover{
    background-image: url(../images/diving-bandw.jpg);
}

.goggles-img:hover{
    background-image: url(../images/goggles-bandw.jpg)
}

.surfing-img:hover{
    background-image: url(../images/surfing-bandw.jpg)
}

.calculator-img:hover{
    background-image: url(../images/calculator-bandw.jpg)
}

/* styling each box containing work history pictures and titles */
.diving-img, .goggles-img, .calculator-img, .surfing-img{
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 47%;
    display: flex;
    align-items: end;
    box-shadow: 0px 0px 4px 6px aqua;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* styling contact info box that holds the contact me buttons */
.contact-info{
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* styling the contact me buttons */
.contact-info-btns{
    background-color: rgb(57, 59, 65, 1);
    padding: 5px;
    box-shadow: 0px 0px 4px 6px aqua;
    height: auto;
    color: aqua;
}

/* changing the lower work pictures to stack under the hero */
@media only screen and (max-width: 1795px) {
    .diving-img, .goggles-img, .surfing-img, .calculator-img{
        width: 100%;
    }
} 

/* shrinking aside boxes text to keep left side border line aligned */
@media only screen and (max-width: 1305px) {
    h3{
        font-size: 25px;
    }
} 

/* shrinking contact me buttons to not overlap when screen shrinks */
@media only screen and (max-width: 1020px){
    .contact-info-btns{
        font-size: 5px;
        height: auto;
    }
}

/* shrinking page header and stacking nav buttons vertically */
@media only screen and (max-width: 940px) {
    .page-header{
        height: 115px;
    }
    .header-nav{
        display: flex;
        flex-direction: column;
    }
}

/* switching header box to stack my name ontop of the nav buttons
nav buttons return to row layout 
aside text shrinks again to keep border line in line*/
@media only screen and (max-width: 650px) {
    .page-header{
        display: flex;
        flex-direction: column;
    }
    .header-nav{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    h3{
        font-size: 15px;
    }
}

/* shrinking my name to take up less of a smaller window
shrinking the nav buttons text to allow more space for the body
page header now adjust auto to h1 size
subtitle box and text shrink as well */
@media only screen and (max-width: 509px) {
    h1{
        height: 25px;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px 5px 5px 5px;
    }
    .header-nav{
        font-size: small;
        padding-top: 10px;
        margin-bottom: 5px;
    }
    .page-header{
        height: auto;
    }
    h2{
        font-size: 20px;
        height: auto;
    }
    .subtitle-box{
        height: 100px;
    }
}

/* shrinking aside text one last time to ensure that the border
line remains aligned at even the smallest window sizes */
@media only screen and (max-width: 400px) {
    h3{
        font-size: 10px;
    }
}